<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mapper.sboard">
	
	<sql id="search">
		<if test="select == 'writer'.toString()">
			where lower(writer) like '%'||lower(#{keyword}) ||'%'
		</if>
		<if test="select == 'title'.toString()">
			where lower(title) like '%'||lower(#{keyword}) ||'%'
		</if>
		<if test="select == 'content'.toString()">
			where lower(content) like '%'||lower(#{keyword}) ||'%'
		</if>
	</sql>
	
	<select id="list" resultType="kr.co.domain.BoardVO">
		<![CDATA[
		select * from
		(select rownum rnum, bno, title, writer, updatedate, viewcnt from
		(select * from tbl_board]]><include refid="search"/> <![CDATA[order by bno desc))
		where rnum between  #{startNum} and #{endNum}]]>
	</select>
	
	<select id="amount" resultType="Integer">
		<![CDATA[select count(bno) from tbl_board]]><include refid="search"/>
	</select>
	
	<select id="read" resultType="kr.co.domain.BoardVO">
		select * from tbl_board where bno = #{bno}
	</select>
	
	<update id="increaseviewcnt">
		update tbl_board set viewcnt = viewcnt + 1 where bno = #{bno}
	</update>
	
	<delete id="del">
		delete from tbl_board where bno = #{bno}
	</delete>
	
	<select id="modifyUI" resultType="kr.co.domain.BoardVO">
		select * from tbl_board where bno = #{bno}
	</select>
	
	<update id="modify">
		update tbl_board set writer = #{writer}, title = #{title}, content = #{content}, updatedate = sysdate where bno = #{bno}
	</update>
</mapper>